// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$facebookblue: #3b5998;
$twitterlightblue: #1da1f2;
$ericssondarkblue: #002561;

$whatsappgreen: #25d366;

$airbnbred: #fd5c63;
$youtubered: #ff0000;

$snapchatyellow: #fffc00;

$evernotegray: #d7dcdd;
$twitterdarkgray: #657786;
$twittergray: #AAB8C2;
$twitterlightgray: #F5F8FA;
