.game-nav {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.7),0 1px 0 0 rgba(0,0,0,0.03);
  background: linear-gradient(to right, $facebookblue, $ericssondarkblue 50%, $facebookblue);
  transition: all 0.3s ease;
  padding: 30px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.game-body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 1000px;
  background-size: cover !important;
  background-position: 30% 60% !important;
  padding: 40px 40px 40px;
  max-width: 100%;
}
.game-body-bingo {
  background: linear-gradient(to bottom left,
      rgba(245, 245, 255, 0.9),
      rgba(200, 200, 200, 0.8)
    ), url(bingobackground.jpg);
}
.game-body-slots {
  background: linear-gradient(to bottom left,
      rgba(245, 245, 255, 0.9),
      rgba(200, 200, 200, 0.8)
    ), url(slotsbackground.jpg);
}
.game-body-casino {
  background: linear-gradient(to bottom left,
      rgba(245, 245, 255, 0.9),
      rgba(200, 200, 200, 0.8)
    ), url(casinobackground.jpg);
}
.game-body-sports {
  background: linear-gradient(to bottom left,
      rgba(245, 245, 255, 0.9),
      rgba(200, 200, 200, 0.8)
    ), url(sportsbackground.jpg);
}
.game-body-main {
  min-width: 60%;
  padding: 10px;
  border-radius: 10px;
  background-color: $snapchatyellow;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.7),0 1px 0 0 rgba(0,0,0,0.03);
}
.game-body-main-details {
  margin: 10px 10px;
  padding: 20px;
  color: black;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.7),0 1px 0 0 rgba(0,0,0,0.03);
}
.game-body-main-details h3 {
  color: black;
}
.game-body-main-details p {
  color: $twitterdarkgray;
}
.game-body-main-site {
  align-items: center;
  text-align: center;
  display: flex;
}
.game-body-main-image {
  width: 100%;
  max-width: 250px;
  margin-bottom: 5px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.7),0 1px 0 0 rgba(0,0,0,0.03);
}
.game-body-main-image:hover {
  opacity: 0.8;
}
.game-body-main-mini {
  width: 100px;
}
