.footer-which {
  filter: grayscale(70%);
  background-size: cover !important;
  background-position: 30% 60% !important;
  background: linear-gradient(to bottom left,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 100, 0.8)
    ), url(footer.jpg);
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  bottom: 0;
  width: 100%;
}
.footer-links {
  color: black;
  opacity: 0.8;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 10px;
  list-style-type: none;
  text-align: center;
}
.footer-links:hover {
  opacity: 1;
  color: black;
  text-decoration: underline;
}
.disclaimer {
  font-size: 12px;
  margin-top: 20px;
}
.footer-logo-div {
  text-align: center;
  margin-top: 30px;
}
.footer-logo:hover {
  opacity: 0.8
}
